@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@container nav (width < 8em) {
    span.text {
        display: none;
    }

    .mode {
        justify-content: center;
    }
}

.Nav {
    container-name: nav;
    container-type: size;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    font-size: 20px;
    /* padding: 2em 0 0 0; */
    /* height: 100dvh; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 1em;

    & > .empty {
        height: 0;
    }

    & > *:not(.empty, .reactlogo) {
        padding-top: 1em;
    }

    & > .reactlogo {
        display: flex;
        flex-direction: row;
        place-content: center;
        font-weight: bold;
        font-family: "GrandHotel", sans-serif;
        user-select: none;

        & > img {
            display: inline;
            animation: spin 20s linear infinite;
        }
    }

    & > .group {
        /* padding: 2em 5%; */
        border-top: 1px solid #ccc;
        user-select: none;
        overflow-y: auto;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5em;
        cursor: pointer;
        /* display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
        gap: 1em; */

        &:last-child {
            height: 0;
            flex-grow: 1;
        }

        & > .mode {
            display: flex;  
            flex-direction: row;
            align-items: center;
            border-radius: 1em 0 0 1em;   
            /* border: solid 1px #ccc;   */
            padding: 0.5em 0 0.5em 0.5em;

            &.selected {
                background-color: var(--primary);
                /* background-color: black; */
            }

            & > .icon {
                height: 100%;
                aspect-ratio: 1;
                background-size: contain !important;
                background-position: center;
                background-repeat: no-repeat;
                font-size: 1.5em;
                margin-right: 0.5em;
            }
        }

        & > .project {
            flex-shrink: 0;
            padding: 0.5em 1em;
            border-radius: 8px;
            cursor: pointer;
            background-color: hsl(var(--color-angle), 90%, 90%);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            box-sizing: border-box;
            gap: 0.5em;

            &.filter {
                filter: brightness(80%);
                text-decoration: line-through;
            }

            &:hover {
                filter: brightness(85%);
            }

            /* & > .icon {
                margin-right: 0.5em;
            } */

            &.dragging {
                /* opacity: 0; */
            }

            &.dragOver {
                border: 0.2em dashed #ccc;
            }
        }
    }
}