@keyframes blink {
    0% {
        color: red;
        text-shadow: 0 0 5px red;
    }
    50% {color: inherit;}
}

.TodoBlock {
    user-select: none;

    display: flex;
    flex-direction: column;

    &.today {
        animation: blink 2s infinite;
    }

    &.past {
        color: red;
        background-color: hsl(0, 0%, 50%);
    }

    & > .main {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;  
        position: relative; 
        padding: 0 1em;

        &.completed {
            text-decoration: line-through;
            color: #888;

            & > * {
                display: none;
            }
        }
        
        &:hover > .menus {
            opacity: 1;
            pointer-events: auto;
        }

        & > .menus {
            width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
            border-radius: 1em;

            position: absolute;
            top: 0;
            right: 0;

            opacity: 0;
            pointer-events: none;

            & > .material-symbols-outlined {
                height: 100%;
                aspect-ratio: 1;
                display: grid;
                place-content: center;
                box-sizing: border-box;
                border: solid 1px white;
                color: white;
                background-color: rgba(0,0,0,0.2);

                &:hover {
                    background-color: rgba(0,0,0,0.4);
                    cursor: pointer;
                }
            }
        }
    }

    & > .editor {
        padding: 0.5em 1em;

        & > .text {
            width: 100%;
            min-height: 2em;
            box-sizing: border-box;
            border: solid 1px #ccc;
            border-radius: 0.5em;
            padding: 0.5em;
            font-size: 1em;
            white-space: normal;
            word-break: break-word;
            text-align: left;
            resize: none;
        }
    }
}